
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" style="background-color: lightgray; height: 200px;">
    <div class="carousel-indicators">

        <% for(let i = 0; i < images.length; i++) { %>
            <% if( i === 0 ) { %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%=i%> class="active" aria-current="true" aria-label="Slide <%=i%>"></button>
            <% } else { %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%=i%> aria-label="Slide <%=i%>"></button>

            <% } %>
        <% } %>
    </div>
   
    <div class="carousel-inner">
        <% for(let i = 0; i < images.length; i++) { %>

            <% if( i === 0 ) { %>
                
                <div class="carousel-item active" style="margin-left: 40%;">
                    <div  class="d-block w-200" alt="<%=(i+1)%>" width='200px' height="200px">
                      <%- images[i].file %>
                    </div>
                   </div>

                <% } else { %>
                    <div class="carousel-item" style="margin-left: 40%;">
                        <div  class="d-block w-200" alt="<%=(i+1)%>" width='200px' height="200px">
                          <%- images[i].file %>
                        </div>
                       </div>
                <% } %>
<% } %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
