<body class="p-3 m-0 border-0 bd-example tableHome" >

  

    <table class="table table-striped table-bordered">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>username</th>
            <th>accout type</th>
            <th>created</th>
            <th>last update</th>
            <th>removed date</th>

            <th>icon</th></tr>
          </tr>

        <% for(let item of items){ %>
        <tr>
            <th class="id"> <%= item.id %> </th>
            <th class="fname"> <%= item.firstName %> </th>
            <th class="lname"> <%= item.lastName %> </th>
            <th class="email"> <%= item.email %> </th>
            <th class="username"> <%= item.username %> </th>
            <th class="type"> <%= item.type %> </th>
            <th class="createdAt"> <%= item.createdAt %> </th>
            <th class="updatedAt"> <%= item.updatedAt %> </th>  
            <th class="deletedAt"> <%= item.deletedAt %> </th>

            <th class="icon"> 
              <%- item.icon %>
            </th>
        </tr>
        <% } %>

    </table>


    <div class="modal fade" id="Icon" tabindex="-1" aria-labelledby="Icon" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New Icon</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alertIcon"></div>
                <%- include('../admin/carousel.ejs'); %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="Submit">Set icon</button>
            </div>
          </div>
        </div>
      </div>


</body>





<script src="../files/js/admin/table.js" type="module" ></script>


