<body class="p-3 m-0 border-0 bd-example tableHome" >

    <table class="table table-striped table-bordered">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>username</th>
            <th>accout type</th>
            <th>created</th>
            <th>last update</th>
            <th>removed date</th>

            <th>icon</th></tr>
          </tr>

        <% for(let item of items){ %>
        <tr>
            <th> <%= item.id %> </th>
            <th> <%= item.firstName %> </th>
            <th> <%= item.lastName %> </th>
            <th> <%= item.email %> </th>
            <th> <%= item.username %> </th>
            <th> <%= item.type %> </th>
            <th > <%= item.createdAt %> </th>
            <th> <%= item.updatedAt %> </th>  
            <th> <%= item.deletedAt %> </th>

            <th> 
              <%- item.icon %>
            </th>
        </tr>
        <% } %>

    </table>
</body>
